.stash-link {
	cursor: pointer;
}

.object-id {
	width: 15%;
}

.object-description {
}

.object-value {
	width: 25%;
}

.object-options {
	width: 5%;
}

.environment-permissions {
	width: 20%;
}

.secret-value {
	width: 75%;
	padding-left: 2px;
	margin: -2px;
	border: 1px dotted;
}

textarea.form-description {
	height: 100px;
}