<h1>
	<a class="header-link" href="/#!/">home</a> > 
	<a class="header-link" href="/#!/projects/{{project.projectId}}">{{project.projectId}}</a> > 
	{{environment.environmentId}}
</h1>
<p>{{environment.description}}</p>
<h4>Permissions</h4>
<p>
	<ul>
		<li>Roles: {{environment.acl.roles.join(', ')}}</li>
		<li>Groups: {{environment.acl.groups.join(', ')}}</li>
	</ul>
</p>
<p class="text-right">
	<button 
		type="button"
		class="btn btn-default glyphicon glyphicon-pencil"
		title="Edit {{environment.environmentId}}">
	</button>
	<button 
		type="button"
		class="btn btn-primary glyphicon glyphicon-plus"
		title="Create a new secret"
		data-toggle="modal"
		data-target="#newSecretModal">
	</button>
</p>
<table class="table table-striped">
	<tr>
		<th>Secret ID</th>
		<th>Description</th>
		<th>Secret Value</th>
		<th>Options</th>
	</tr>
	<tr ng-repeat="secret in $ctrl.secrets">
		<td class="object-id">{{secret.secretId}}</td>
		<td class="object-description">{{secret.description}}</td>
		<td class="object-value"><secret-value secret-id="{{secret.secretId}}"></secret-value></td>
		<td class="object-options">
			<span class="stash-link glyphicon glyphicon-pencil" title="Edit {{secret.secretId}}"></span>
			<span class="stash-link glyphicon glyphicon-remove" title="Delete {{secret.secretId}}" ng-click="$ctrl.deleteSecret(secret.secretId)"></span>
		</td>
	</tr>
</table>
<secret-create-form modal-id="newSecretModal" on-create="$ctrl.updateSecretList()"></secret-create-form>
