
<!-- <span class="pull-left">
	<span ng-if="!$ctrl.secretValue">**********</span>
	<span ng-if="$ctrl.secretValue">{{$ctrl.secretValue}}</span>
</span> -->
	<input class="secret-value" type="password" ng-if="!$ctrl.secretValue" readonly="readonly" value="some data">
	<input class="secret-value" type="text" ng-if="$ctrl.secretValue" readonly="readonly" value="{{$ctrl.secretValue}}">
	<span
		ng-if="!$ctrl.secretValue"
		ng-click="$ctrl.showValue()"
		class="pull-right stash-link glyphicon glyphicon-eye-open"
		title="Show secret value">
	</span>
	<span
		ng-if="$ctrl.secretValue"
		ng-click="$ctrl.hideValue()"
		class="pull-right stash-link glyphicon glyphicon-eye-close"
		title="Hide secret value">
	</span>
