<div class="modal fade" id="{{$ctrl.modalId}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New project</h4>
      </div>
      <div class="modal-body">
        <form name="$ctrl.projectForm">
          <div class="form-group">
            <label for="project-id" class="control-label">Project ID</label>
            <input type="text" class="form-control" id="project-id" ng-model="$ctrl.project.projectId" required>
          </div>
          <div class="form-group">
            <label for="project-description" class="control-label">Description</label>
            <textarea class="form-control form-description" id="project-description" ng-model="$ctrl.project.description"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$ctrl.createProject()">Create project</button>
      </div>
    </div>
  </div>
</div>
